<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= image_path "logo-tcs.png" %>" width="30" height="30" class="d-inline-block align-top" alt="">
      Job Board
    </a>

    <div class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <%= link_to "New Job", new_job_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
              <div class="dropdown-menu" aria-labelledby="dropdown06">
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", data: { method: :delete } %>
              </div>
            <% elsif !devise_controller? %>
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
